.interna-produtos {
    background: url("../img/bg-produtos.jpg") no-repeat center;
    background-size: cover;
}

.produto-item {
    padding-top: 60px 0;
    margin-top: 60px;
}

.produto-icone {
    background: var(--preto);
    padding: 70px 0;
}

.produto-icone img {
    margin: 0 auto;
}

.produto-item h2 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    text-align: center;
    color: var(--branco);

    /* Posicionar o h2 para cima da imagem*/
    position: relative;
    top: -180px;

    /* Consertando erro do posionamento relativo aumentar o espaçamento entre as imagens*/
    margin-bottom: -56px;
}

.produto-item h2:before, .produto-item h2:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--branco);
    margin: 6px auto 8px auto;
}

.produto-info {
    background: var(--preto);
}

.produto-info p {
    color: var(--branco);
    font-size: 18px;
    line-height: 25px;
    height: 180px;
    padding: 30px 40px;
}

.produto-info ul li {
    background: var(--amarelo);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;

    /*Um ao lado do outro*/
    float: left;

    width: 229px;
    height: 49px;
    text-align: center;
    padding-top: 16px;
}

/* Se comunica com os números ímpares da lista || odd com Ímpar E even com Par || */
.produto-info ul li:nth-child(odd) {
    margin-left: 2px;
}

/* Add uma margem bottom entre os itens [1, 2] e [3, 4] criando uma linha de 2px, pelo background dos 
    itens da lista serem amarelo e o bg da div ser preto */
.produto-info ul li:nth-child(1), .produto-info ul li:nth-child(2) {
    margin-bottom: 2px;
}

/* Orçamento*/

.orcamento {
    background: var(--preto);
    width: 100%;
    margin-top: 60px;
    padding: 40px 0;
}

.orcamento h2 {
    color: var(--amarelo);
}

.orcamento h2:after {
    background: var(--amarelo);
}

.form {
    padding-right: 60px;
}

/* Colocar label um abaixo do outro*/
.form label {
    display: block;

    color: var(--branco);
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form input {
    display: block;
    width: 100%;
    border: 4px solid var(--amarelo);
    background: none;
    color: var(--branco);
    padding: 7px 10px;
    outline: none;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', serif;
}

.form textarea {
    display: block;
    width: 100%;
    border: 4px solid var(--amarelo);
    background: none;
    color: var(--branco);
    padding: 7px 10px;
    outline: none;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', serif;
    height: 120px;
}

.form button {
    background: none;
    padding: 7px 40px;
}

.orcamento-dados {
    color: var(--branco);
    margin-top: 15px;
}

.orcamento-dados h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--amarelo);
    font-weight: bold;
}

.orcamento-dados span {
    display: block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', serif;
    line-height: 30px;
}

.dados-email {
    margin-bottom: 40px;
}

.orcamento-dados ul li {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    padding: 10px 15px;
}

.orcamento-dados ul {
    padding-right: 60px;
}

.orcamento-dados ul li:nth-child(odd) {
    background: #1d1d1d;
}

.orcamento-dados p {
    margin: 8px 0;
}