/* Estilos gerais */
:root {
    --branco: #FFF;
    --amarelo: #fec63e;
    --preto: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
}

.btn {
    border: 3px solid var(--amarelo);
    padding: 10px 30px;
    color: var(--amarelo);
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.btn:hover {
    color: var(--branco);
    border-color: var(--branco);
}

.btn.btn-preto:hover {
    color: var(--preto);
    border-color: var(--preto);
}

.subtitulo {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: var(--preto);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px; 
    background: var(--preto);

    margin: 8px auto;
}

.subtitulo-interno {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: var(--preto);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subtitulo-interno:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px; 
    background: var(--preto);

    margin: 8px 0;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--amarelo);
    padding: 15px 0;

    /*itens que vem abaixo não ficaram por cima do header*/
    z-index: 10;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: var(--preto);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;

    padding: 10px 0;
}

.header_menu ul li a:hover {
    color: var(--branco);
}

.header_menu ul li a.menu-ativo {
    color: var(--branco);
}

/* Introdução */
.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;

    text-align: center;
    padding-top: 80px;

    /*colocando introdução depois do header como está fixo o conteúdo fica por cima necessitando do mg top*/
    margin-top: 92px;
}

.introducao h1 {
    font-size: 48px;
    color: var(--branco);
    font-weight: bold;
    text-transform: uppercase;
}

/*Citação*/
.quote-externo {
    max-width: 320px;
    color: var(--branco);

    /*Alinhando ao centro*/
    margin: 0 auto;

    /*Espaçamento para o botão da introdução (btn Orçamento) */
    margin-bottom: 40px;
}

.quote-externo p {
    font-style: italic;
}

/*Criando separador*/
.quote-externo p:before, .quote-externo p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px; 
    background: var(--branco);

    margin: 14px auto 10px auto;
}

.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

/*Configuração background páginas internas*/

.introducao-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    text-align: center;
    color: var(--branco);
    padding-top: 30px;
}

.introducao-interna h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.introducao-interna h1:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px; 
    background: var(--branco);

    margin: 6px auto 10px auto;
}

/* Produtos */
.produtos {
    padding: 60px 0;
}

/*Deixando icones inline-block corrigindo erro ao add style global img (style global arruma posicionamento da img Linhas na seção qualidade)*/
.produtos_lista img {
    display: inline-block;
}

.produtos_lista li{
    background: var(--amarelo);
    text-align: center;
}

.produtos_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.produtos_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px; 
    background: var(--preto);

    margin: 2px auto;
}

.produtos_lista li p {
    padding: 10px 20px 20px 20px;
}

.produtos_icone {
    background: var(--preto);
    padding: 20px 0;
}

.call {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.call p {
    margin-bottom: 20px;
}

/* Portfólio */
.portfolio {
    width: 100%;
    background: var(--preto);
    padding: 40px 0 ;
}

.portfolio .subtitulo {
    color: var(--amarelo);
}

.portfolio .subtitulo:after {
    background: var(--amarelo);
}

/* Aplica no último LI*/
.portfolio_lista li:last-child {
    margin-top: 20px;
}

.portfolio .call p {
    color: var(--branco);
}

/* Qualidade */
.qualidade {
    padding: 60px 0;
}

/* Add linhas Qualidade*/
.qualidade:after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.svg") no-repeat center;

    /*Posicionar por cima*/
    position: absolute;
    top: 201px;
    right: 163.5px;
    z-index: -1;
}

.qualidade img {
    /* Centralizar*/
    margin: 0 auto;
}

.qualidade_lista {
    padding-top: 10px;

    /* Corrigir erro do elemento qualidade estar encima do elemento quebra, por estarem usando float*/
    overflow: auto;
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
}

.qualidade_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.qualidade_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px; 
    background: var(--preto);

    margin: 6px auto;
}

/* Quebra */
.quebra {
    width: 100%;
    height: 220px;
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
}

.quebra .quote-externo {
    max-width: 400px;
}

/* Footer*/
.footer {
    width: 100%;
    background: var(--preto);
    color: var(--branco);
    padding: 20px 0;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: var(--amarelo);
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--amarelo);
    margin: 6px 0 12px 0;
}

.footer-historia {
    padding-right: 80px;
}

.footer-contato ul li{
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', serif;
}

.footer-redes ul li {
    display: inline-block;
    margin-right: 10px;
}

/* Borda dos ícones de redes sociais*/
.footer-redes ul li a {
    border: 3px solid var(--amarelo);
    display: block;
    padding: 8px;
}

.footer-redes ul li a:hover {
    border-color: var(--branco);
}

.copy {
    width: 100%;
    background: var(--amarelo);
    padding: 20px 0;
}